.container {
    max-width: 375px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 18px;
    padding-right: 18px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/*======header=======*/


/*======section1========*/

.title-and-btn {
    display: flex;
    gap: 11px;
    flex-direction: column;
}

.title-first {
    width: 126px;
    height: 107px;
    flex-shrink: 0;
    color: #111111;
    font-family: Staatliches;
    font-size: 21.892px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*======section2========*/

.title-back {
    margin-top: 34px;
    color: #000;
    text-align: center;
    font-family: Share;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.givback-text {
    margin-top: 7px;
    margin-bottom: 7px;
    color: #000;
    text-align: center;
    font-family: Share;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ul-givback {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    
}

/*======section3========*/

.dogs-ul{
    display: flex;
}

.title-shop {
    color: #000;
    text-align: center;
    font-family: Share;
    font-size: 18.713px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    width: 104px;
    height: 25.094px;
    flex-shrink: 0;
    border: 0px solid #000;
    background: #321E5D;
    color: #FFF;
    text-align: center;
    font-family: Share;
    font-size: 11.153px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    display: block;

}

/*======section4========*/

.ul-about {
    
    padding: 0px;
    margin: 0 auto;
    display: block;
}
.text-h-about {
    color: #000;
    text-align: center;
    font-family: Staatliches;
    font-size: 17.679px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 183.623px;
}

.text-p-about {
    color: #000;
    font-family: Share;
    font-size: 13.259px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 296.116px;
}

/*======footer========*/


.location-footer {
    display: flex; 
}

.menu-footer {
    display: flex;
    flex-direction: column;
}

.footer-li-link {
    color: #000000;
}

.various {
    color: #979797;
    font-family: Share;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-footer .footer-adress-link {
    color: #000;
    font-family: Share;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.address-text {
    color: #000;
    font-family: Share;
    font-size: 8.601px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1280px) {

    .container {
        max-width: 1440px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 18px;
        padding-right: 18px;
        }

    .title-first {
    margin-top: 45px;
    width: 518px;
    height: 443px;
    font-size: 85px;
    color: #FFF;
    }

    .section1 {
        background-image: url(./img/laptop/dog1x.png);
        max-width: 1440px;
        height: 700px;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        }

    .btn {
        width: 240px;
        height: 56px;
        font-size: 25px;
        margin-left: 130px;
        margin-top: 20px;
    }

    .title-back {
        color: #000;
        text-align: center;
        font-size: 60px;
        font-style: normal;
        margin-top: 30px;
    }

    .givback-text {
        color: #000;
        font-size: 25px;
        margin-top: -30px;
        font-weight: 400;
        text-align: center;
    }

    .ul-li-givback{
        width: 1200px;
    }

    
    
    
}